* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 10;
    width: 100%;
}

header .brand {
    position: relative;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
    transition: .5s;
}

header .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background-size: 30px;
    background-image: url(../images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .toggle.active {
    background-size: 25px;
    background-image: url(../images/close.png);
}

header .toggle::before {
    content: 'Menu';
    position: absolute;
    right: 45px;
    color: #111;
    background-color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 2px 5px;
}

header .toggle.active::before {
    content: 'Close';
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(15px);
    box-shadow: 10px 0 15px rgba(0, 0, 0, .1);
    transition: 1s;
}

section.active .glass {
    width: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 10px 0 15px rgba(0, 0, 0, .5);
}

section .content {
    position: relative;
    z-index: 10;
    text-align: center;
    transition: .5s;
    transition-delay: 1s;
}

section.active .content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
    transition-delay: 0s;
}

section .content h2 {
    position: relative;
    color: #fff;
    font-size: 10vw;
    line-height: 0.55em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    font-family: 'Dancing Script', cursive;
}

section .content h2 span {
    font-size: 0.2em;
    font-weight: 300;
    letter-spacing: 5px;
    background-color: #fff;
    color: #111;
    padding: 0 10px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0);
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}

section .sci {
    position: absolute;
    bottom: 40px;
    right: 100px;
    display: flex;
    z-index: 10;
}

section .sci li {
    list-style: none;
    margin: 5px;
    padding: 0 6px;
    background-color: #fff;
    transition: .5s;
    transition-delay: calc(0.2s * var(--i));
}

section.active .sci li {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}

section .sci li a {
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 12px;
}

section .nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

section .nav li {
    list-style: none;
    text-align: center;
    margin: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transform: translateX(200px);
    transition-delay: calc(0.2s * var(--i));
}

section.active .nav li {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

section .nav li a {
    text-decoration: none;
    color: #111;
    font-size: 1.5;
    letter-spacing: 4px;
    background-color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    padding: 4px 10px;
    display: inline-block;
}

section .nav li a:hover {
    background-color: #111;
    color: #fff;
    letter-spacing: 10px;
    text-transform: lowercase;
}

@media (max-width: 992px) {
    header {
        padding: 20px;
    }

    section .sci {
        bottom: 20px;
        right: 20px;
    }

    .glass {
        width: 50%;
    }

    section .content h2 {
        font-size: 18vw;
    }

    section .content h2 span {
        font-size: 0.25em;
        letter-spacing: 2px;
        padding: 0 5px;
    }
}